<div>
    <div>
        <input type="file" (change)="uploadImage($event)">
    </div>

    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12" (click)="selectCard()">
            <app-cms-image-edit [image]="image"> </app-cms-image-edit>
            <a href="javascript:void(0)" class="card clickable">
              <div class="card-img">
                <img src="{{image}}" />
                <div class="bottom-left">Bottom Left</div>
                <div class="top-left">Top Left</div>
                <div class="top-right">Top Right</div>
                <div class="bottom-right">Bottom Right</div>
                <div class="centered">Centered</div>
              </div>
            </a>
        </div>

      <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Card 2</h3>
            <p class="card-text">
              ...
            </p>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0)" class="btn btn-sm btn-link">Action 2</a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Card 3</h3>
            <p class="card-text">
              ...
            </p>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0)" class="btn btn-sm btn-link">Action 3</a>
          </div>
        </div>
      </div>
    </div>
</div>

<!--<div class="modal">
  <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>-->
