<div>
    <div>
        <p>cms-images working</p>
        <input type="file" (change)="uploadImage($event)">
    </div>

    <!--<div class="container">
        <img style="height:100%; width:100%;" src="{{image}}"/>
        <div class="bottom-left">Bottom Left</div>
        <div class="top-left">Top Left</div>
        <div class="top-right">Top Right</div>
        <div class="bottom-right">Bottom Right</div>
        <div class="centered">Centered</div>
    </div>-->

    <!--<div class="card">
        <div class="card-img">
            <img src="{{image}}" />
        </div>
        <div class="card-block">
          <h4 class="card-title">Title</h4>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut. Nihil nemo, necessitatibus earum.
          </p>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Lorem ipsum dolor.</li>
          <li class="list-group-item">Lorem ipsum dolor sit.</li>
          <li class="list-group-item">Lorem ipsum.</li>
        </ul>
        <div class="card-footer">
          <a href="javascript:void(0)" class="btn btn-sm btn-link">save</a>
          <a href="javascript:void(0)" class="btn btn-sm btn-link">delete</a>
        </div>
    </div>-->
    <div class="clr-row">
        <div class="clr-col-lg-6 clr-col-12" (click)="selectCard()">
            <a href="javascript:void(0)" class="card clickable">
              <div class="card-img">
                <img src="{{image}}" />
                <div class="bottom-left">Bottom Left</div>
                <div class="top-left">Top Left</div>
                <div class="top-right">Top Right</div>
                <div class="bottom-right">Bottom Right</div>
                <div class="centered">Centered</div>
              </div>
            </a>
        </div>

      <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Card 2</h3>
            <p class="card-text">
              ...
            </p>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0)" class="btn btn-sm btn-link">Action 2</a>
          </div>
        </div>
      </div>

      <div class="clr-col-lg-4 clr-col-12">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Card 3</h3>
            <p class="card-text">
              ...
            </p>
          </div>
          <div class="card-footer">
            <a href="javascript:void(0)" class="btn btn-sm btn-link">Action 3</a>
          </div>
        </div>
      </div>
    </div>
</div>

<!--<div class="modal">
  <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>-->
