<div class="content-container">
    <div class="content-area">
      <p>
        Content Area
      </p>
      <app-cms-images *ngIf="currentComponent == 'images'"></app-cms-images>
      <app-cms-videos *ngIf="currentComponent == 'videos'"></app-cms-videos>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox" />
          <label for="tabexample2">Sidenav</label>
          <ul class="nav-list">
              <li><a class="nav-link" (click)="selectComponent('images')" [ngClass]="{'active': currentComponent == 'images'}">images</a></li>
            <li><a class="nav-link" (click)="selectComponent('videos')" [ngClass]="{'active': currentComponent == 'videos'}">videos</a></li>
          </ul>
        </section>
      </section>
    </nav>
</div>
